{% extends 'myamkodor/base.html' %}
{% load static %}

{% block content %}

<div class="bg-color-sky-light">

    <div class="content-md container" align="center">
        <h4 >История предприятия ЗАО «АМКОДОР-УНИКАБ» </h4 >
        <!--    <div class="content-md container">-->
        <!--        <div class="row margin-b-40">-->
        <!--            <div class="col-sm-6">-->
        <!--                <h2> О компании</h2>-->
        <!--                <p>История предприятия</p>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        &lt;!&ndash;// end row &ndash;&gt;-->
        <img class="img" src="{% static 'img/800x400/03.jpg' %}"
             alt="Portfolio Image" width="898" height="523" align="center">
        <br>
        <br>
        <h5 align="left">ЗАО «АМКОДОР-УНИКАБ» является одним из предприятий холдинга ОАО «АМКОДОР».</h5>

        <h5 align="left"> Само название «Уникаб» отражает специализацию предприятия уже 25 лет. Со дня своего основания в 1991 году
            ЗАО производит унифицированные кабины для погрузчиков, дорожно-строительной, сельскохозяйственной,
            коммунальной, лесопромышленной и другой специальной техники предприятий холдинга ОАО «АМКОДОР». В настоящее
            время это более 26 различных моделей и модификаций кабин. С 2010 года на предприятии освоен выпуск новой
            импортозамещающей продукции - вилочные электропогрузчики грузоподъемностью 1,6 и 2,5 тонн, платформенные
            электротележки грузоподъемностью 2 и 3 тонны. ЗАО «АМКОДОР-УНИКАБ» является единственным производителем
            электрической складской техники в Республике Беларусь. Продолжается работа по расширению модельного ряда
            складской техники. С 2013 года начато производство вилочных дизельных автопогрузчиков грузоподъемностью от 3
            до 5 тонн. Выпускается ручная гидравлическая тележка г.п. 2 тонны. В конце 2013 года впервые в Республике
            Беларусь предприятие приступило к производству автогрейдеров среднего класса.</h5>

            <h5 align="left">На предприятии с 2010 по 2012 год проведена частичная модернизация и техническое перевооружение
            производства: построен и введён в эксплуатацию механозаготовительный корпус площадью 3,4тыс.м2 приобретено
            современное оборудование, позволяющее производить резку листов, труб и профилей в режиме 2D и 3D на машине
            лазерной резки SpaceGear 510MkII, комплексную обработку на горизонтальном ОЦ QTS200МII и вертикальном ОЦ
            мод. VCN515C-II, на горизонтально-расточном станке с ЧПУ с двумя сменными столами мод.КС-150/1, ножницах
            гильотинных гидравлических мод. CFO 208, ножницах гильотинных гидравлических мод. CFO 212, прессе
            листогибочном с ЧПУ мод. PFOPS250-30.</h5>

            <h5 align="left">Проведенная модернизация и техническое перевооружение производства позволили увеличить выпуск и повысить
            качество продукции. Выпускаемая продукция соответствует требованиям технического регламента Евразийского
            союза, соответствуют международным стандартам безопасности FOPS и ROPS. Система менеджмента качества на
            предприятии подтверждена сертификатом соответствия СТБ ISO 9001-2009. В 2013 году электропогрузчик АМКОДОР
            Е25 и электротележка АМКОДОР ЕР30 стали лауреатами конкурса «Лучшие товары Республики Беларусь».</h5>

            <h5 align="left">ЗАО «АМКОДОР-УНИКАБ» сегодня- это перспективное предприятие на котором работает более 200 человек.</h5>

            <h5 align="left">Продукцию ЗАО «АМКОДОР-УНИКАБ» отличает качество, надежность, современный технический уровень.</h5>

            <h5 align="left">В своей маркетинговой политике ЗАО всегда исходит из интересов клиента. Мы открыты для взаимного
            продуктивного сотрудничества с потребителями нашей техники и кабин и будем рады видеть Вас в качестве наших
                заказчиков.</h5>

        <nav aria-label="Page navigation example" align="left">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link"
                       href="{{request.META.HTTP_REFERER}}"
                       tabindex="-1" aria-disabled="true">Назад
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>


    <!-- End Masonry Grid -->


    {% endblock %}

