{% extends 'myamkodor/base.html' %}
{% load static %}

{% block content %}
<!--========== PAGE LAYOUT ==========-->
<!-- Work -->
<div class="bg-color-sky-light">
    <div class="content-md container">
        <div class="row margin-b-40">
            <div class="col-sm-6">
                <h2>Общее</h2>
                <p>На данной страницы вы сможете найти информацию о следующих
                    разделах: Новости,
                    Вакансии,
                    Продукция,
                    Услуги,
                    Аренда,
                    Реализация,
                    Тендеры.</p>
            </div>
        </div>
        <!--// end row -->

        <!-- Masonry Grid -->
        <div class="masonry-grid">
            <div class="masonry-grid-sizer col-xs-6 col-sm-6 col-md-1"></div>
            <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-8">
                <!-- Work -->
                <div class="work">
                    <div class="work-overlay">
                        <img class="full-width img-responsive" src="{% static 'img/800x400/01.jpg' %}"
                             alt="Portfolio Image">
                    </div>
                    <div class="work-content">
                        <h3 class="color-white margin-b-5">Реализация</h3>
                        <p class="color-white margin-b-0">Транспорт б/у, Нелеквиды</p>
                    </div>
                    <a class="content-wrapper-link" href="{% url 'amkodor:realization' 1 %}"></a>
                </div>
                <!-- End Work -->
            </div>
            <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                <!-- Work -->
                <div class="work">
                    <div class="work-overlay">
                        <img class="full-width img-responsive" src="{% static 'img/397x400/01.jpg' %}"
                             alt="Portfolio Image">
                    </div>
                    <div class="work-content">
                        <h3 class="color-white margin-b-5">Новости</h3>
                        <p class="color-white margin-b-0">Все новости нашего предприятия!</p>
                    </div>
                    <a class="content-wrapper-link" href="{% url 'amkodor:newspage' 1 %}"></a>
                </div>
                <!-- End Work -->
            </div>
            <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                <!-- Work -->
                <div class="work">
                    <div class="work-overlay">
                        <img class="full-width img-responsive" src="{% static 'img/397x300/01.jpg' %}"
                             alt="Portfolio Image">
                    </div>
                    <div class="work-content">
                        <h3 class="color-white margin-b-5">Продукция</h3>
                        <p class="color-white margin-b-0">Электропогрузчики, Автопогрузчики, Электротележки,
                            Гидравлические тележки, Кабины, Другая продукция.</p>
                    </div>
                    <a class="content-wrapper-link" href="{% url 'amkodor:products' 1%}"></a>
                </div>
                <!-- End Work -->
            </div>
            <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                <!-- Work -->
                <div class="work">
                    <div class="work-overlay">
                        <img class="full-width img-responsive" src="{% static 'img/397x300/02.jpg' %}"
                             alt="Portfolio Image">
                    </div>
                    <div class="work-content">
                        <h3 class="color-white margin-b-5">Услуги</h3>
                        <p class="color-white margin-b-0">Услуги предоставляемые ЗАО «АМКОДОР-УНИКАБ»</p>
                    </div>
                    <a class="content-wrapper-link" href="{% url 'amkodor:services' %}"></a>
                </div>
                <!-- End Work -->
            </div>
            <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                <!-- Work -->
                <div class="work">
                    <div class="work-overlay">
                        <img class="full-width img-responsive" src="{% static 'img/397x300/03.jpg' %}"
                             alt="Portfolio Image">
                    </div>
                    <div class="work-content">
                        <h3 class="color-white margin-b-5">Аренда</h3>
                        <p class="color-white margin-b-0">Сдача в долгосрочную аренду помещения административного,
                            производственного, складского назначения.</p>
                    </div>
                    <a class="content-wrapper-link" href="{% url 'amkodor:rent' %}"></a>
                </div>
                <!-- End Work -->
            </div>
            <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                <!-- Work -->
                <div class="work">
                    <div class="work-overlay">
                        <img class="full-width img-responsive" src="{% static 'img/397x400/02.jpg' %}"
                             alt="Portfolio Image">
                    </div>
                    <div class="work-content">
                        <h3 class="color-white margin-b-5">Вакансии</h3>
                        <p class="color-white margin-b-0">Здесь представленны актуальные на данный момент вакансии.</p>
                    </div>
                    <a class="content-wrapper-link" href="{% url 'amkodor:vacancy' 1 %}"></a>
                </div>
                <!-- End Work -->
            </div>
            <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-8">
                <!-- Work -->
                <div class="work">
                    <div class="work-overlay">
                        <img class="full-width img-responsive" src="{% static 'img/800x400/02.jpg' %}"
                             alt="Portfolio Image">
                    </div>
                    <div class="work-content">
                        <h3 class="color-white margin-b-5">Тендеры</h3>
                        <p class="color-white margin-b-0">Тендеры ЗАО «АМКОДОР-УНИКАБ»</p>
                    </div>
                    <a class="content-wrapper-link" href="{% url 'amkodor:tender' %}"></a>
                </div>
                <!-- End Work -->
            </div>

        </div>
        <!-- End Masonry Grid -->
    </div>
</div>
<!-- End Work -->

<!-- Clients -->
<div class="section-seperator">
    <div class="content-md container">
        <div class="row margin-b-40">
            <div class="col-sm-6">
                <h2>ЗАО "Амкодор-Уникаб"</h2>
                <p>- это эффективность работы, современный технический уровень, с нами надежно, легко, выгодно и успешно.</p>
            </div>
        </div>
    </div>

</div>
<!-- End Clients -->
<!--========== END PAGE LAYOUT ==========-->
{% endblock %}
