{% extends 'myamkodor/base.html' %}
{% load static %}

{% block content %}


<div class="bg-color-sky-light">

    <div class="content-md container">

        <div class="row margin-b-20">
            <div class="col-sm-12">
                <h2>{{obj.title}}</h2>
            </div>
        </div>
        <!--// end row -->

        <div class="row">
            <div class="col-sm-7 sm-margin-b-50">
                <div class="margin-b-30">
                    <p>{{obj.content|linebreaks}}</p>
                </div>
                {% if obj.file %}
                <h5><a href="{{ obj.file.url }}" target="_blank" rel="noopener noreferrer" class="">Технические
                    характеристики на {{ obj.title }}</a></h5>
                {% endif %}
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                {% if obj.photo %}
                <img class="img-responsive" src="{{obj.photo.url}}" alt="Our Office">
                {% endif %}


                <br>
                {% if obj.photo2 %}
                <img class="img-responsive" src="{{obj.photo2.url}}" alt="Our Office">
                {% endif %}


                <br>
                {% if obj.photo3 %}
                <img class="img-responsive" src="{{obj.photo3.url}}" alt="Our Office">
                {% endif %}


            </div>


        </div>


        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center" >
                <li class="page-item">
                    <a class="page-link"
                       href="{{request.META.HTTP_REFERER}}"
                       tabindex="-1" aria-disabled="true">Назад
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!--    <br>-->
    <!--    <div class="row">-->

    <!--        <div class="col-sm-4 sm-margin-b-50">-->
    <!--            <div class="bg-color-white margin-b-30">-->
    <!--                <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">-->
    <!--                    <img class="img-responsive" src="{{ news.photo.url }}">-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--                <div class="col-sm-4 sm-margin-b-50">-->
    <!--            <div class="bg-color-white margin-b-30">-->
    <!--                <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">-->
    <!--                    <img class="img-responsive" src="{{ news.photo.url }}">-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--                <div class="col-sm-4 sm-margin-b-50">-->
    <!--            <div class="bg-color-white margin-b-30">-->
    <!--                <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">-->
    <!--                    <img class="img-responsive" src="{{ news.photo.url }}">-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->


    <!--    </div>-->
</div>


{% endblock %}